*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.txt-11{
	font-size: 11px;
}
.pad-left{
	padding-left: 20px;
}

.pad-right5{
	padding-right: 5px;
}

.color-grey{
	color: #ccc;
}
}
.wrapper{
	display: flex;
	height: 100vh;
	width: 100vw;
	max-width: 100%;

}

/* navigation bar left */
       /* nav up */
.nav-left{
	float: left;
	flex-direction: column;
	background:#000;
	width:210px;
	color:#fff;
	height: 100%;
	overflow: hidden;
}


.img-spoty{
	width: 120px;
	height: auto;
  margin: 15px 15px 25 17;}

.nav-top{
	height:calc(100% - 90px);
	overflow-y:auto;
	min-height: 400px;
}

.nav-top ul {
	list-style: none;
	padding-left:18px;
}
.nav-top ul li{
	padding-bottom: 11px;
}

.nav-top ul li a{
	text-decoration: none;
	color:#8c8c8c;
	font-size: 13px;

}

.nav-top ul li a:hover{
	color: #fff;
}

.nav-top ul li img{
	width: 23px;
	height: 23px;
	vertical-align: middle;
	padding-right: 5px;
}

ul li .fa{
	font-size: 35px;
	padding-right: 6px;
	color: #ccc;
	vertical-align: middle;
}

    /* nav-down */
.part-up{
	margin-left: 15px;
	width: 85%;
	border-bottom: 1px solid #ccc;
}

.part-up a i{
	padding:0 6px 15px 5px;
	color: #ccc;
	font-size: 15px;
}

.part-down img {
    width: 24px;
    height: 24px;
    margin: 15px 6px 5px 12px;
    vertical-align: ;
    background: #ccc;
    border-radius: 100%;
    vertical-align: middle;
}

/* MAIN CONTENT */

.main-content{
	overflow-y: auto;
	height:100%;
	float: left;
	width:calc(100% - 210px);
	background-color:#141f1f;
}

/* TOP NAV-BAR FIXED */

.navbar-fix{
	position:fixed;
	height: 70px;
  width:calc(100% - 210px);
	background:rgba(0,0,0, 0.6);
	display: flex;
	justify-content:flex-end;
	top: 0;
}

.butt-navbar{
	width: 150px;
	height:22px;
	color: #fff;
	font-size: 10px;
 border: 2px solid #fff;
 border-radius: 20px;
 text-align: center;
 margin: 20px 25px 20px 0;
 line-height: 2px;
  padding: 8px;
}

.butt-navbar:hover{
padding: 12px;
line-height:3px;

}

.butt-navbar span a{
	color: #fff;
	text-decoration: none;
}
/* MENU UNDER NAVBAR */

.navbar-under{
  display:flex;
	color:#ccc;
	font-size: 12px;
	margin-top: 80px;
	justify-content: center;
  width: 100%;
	height: 20px;
	flex-wrap: wrap;
}

.navbar-under span a{
	padding: 8px;
	text-decoration: none;
	color:#4d4d4d;

}
.navbar-under span a:hover{
	color: #fff;
}

.first{
	border-bottom: 2px solid yellow;
}

/* IMG CONTAINER UNDER NAVBAR */

/* text above album img */

.text-up-img{
	padding-left: 20px;
	color: #fff;
	margin-top: 30px;
}

.img-container{
	width:100%;
  height: auto;
	padding:20px;
	display: flex;
	flex-wrap: wrap;


}

.box-img{
	padding-right: 10px;
	margin-bottom: 20px;

}

	.box-img img{
	  width:130px;
		height:130px;

	}
/* text under images */
.box-img h3, .box-img h4{
	text-align: center;
	font-size: 12px;
	width: 140px;
	color: #fff;
}
.box-img h4{
	color: #4d4d4d;
	padding-top: 5px;
}

/* second row images */

.img-box-second, .img-box-tird{
	display: flex;
	padding: 20px;
}

.txt-second-row{
	color: #fff;
	padding-left: 20px;
}
.txt-second-row h4{
	color: #4d4d4d;
	padding-top: 5px;
	font-size: 14px;
}
/* tird row img */
.img-box-tird .box-img img{
	border-radius: 100%;
}

/* FOOTER */
.footer{
	display: flex;
	width: 100%;
}

.container{
	background-color:#1a1a1a;
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-between;
}

/* left part footer */

.left-part{
	height: 70px;
	line-height: 70px;
}

.left-part img{
	width: 40px;
	height: 40px;
vertical-align:middle;
margin-left: 15px;
}

.left-part span{
	color: #f2f2f2;
}
 /* central part footer */
.central-part{
	height: 70px;
}

.player a{
	line-height: 45px;
	color: #fff;
	font-size: 20px;
	padding: 0 6px 0 6px;
	text-align: center;
}
.player{
	text-align: center;
}
.bar-time ul li{
	list-style: none;
  display: inline-block;
	color: #ccc;
	vertical-align: middle;

}

.bar-time ul li:nth-child(2){
	width: 280px;
	border-bottom: 5px solid #ccc;
	margin: 5px 15px;
	border-radius: 3px;
}

/* right side footer */
.right-part{

}
.right-part ul a li{
	display: inline-block;

}
.right-part ul a li i{
	font-size: 15px;
	line-height: 70px;
}

.right-part ul a:nth-child(5) li{
	width: 60px;
	vertical-align: middle;
	border-bottom: 2px solid #ccc;
	padding-left: 15px;
	margin-right: 10px;

}










	/* MEDIA QUERY */
	/* XS */
	@media only screen and (max-width: 600px) {
		.box-img img {
	    width:81px;
			height: auto;
	}
	.box-img h3, .box-img h4{
		text-align: center;
		font-size: 8px;
		width: 80px;
	}
	.txt-second-row h4{
		font-size: 11px;
	}
	.txt-second-row h2{
		font-size: 20px;
	}
	.img-container {
	    width: 100%;
	    height: auto;
	    padding: 0;
	    margin-left: 5px;
	}
	.nav-left {
	    float: left;
	    flex-direction: column;
	    background: #000;
	    width: 60px;
	    color: #fff;
	    height: 100%;
	    overflow: hidden;}

			.main-content {
	    overflow-y: auto;
	    height: 100%;
	    float: left;
	    width: calc(100% - 60px);
	    background-color: #141f1f;
	}

	.box-img img {
	    width: 130;
	    height: auto;
	    margin-left: 10px;
	}

	.nav-top, .nav-down{
		display: none;
	}

	.navbar-fix {
	    position: fixed;
	    height: 70px;
	    width: calc(100% - 60px);
	    background: rgba(0,0,0, 0.6);
	    display: flex;
	    justify-content: flex-end;
	    top: 0;}

	.img-box-second, .img-box-tird {
			display: flex;
			padding: 5px;
	}

		.butt-navbar {
		    width: 150px;
		    height: 22px;
		    color: #fff;
		    font-size: 10px;
		    border: 2px solid #fff;
		    border-radius: 20px;
		    text-align: center;
		    margin: 20px 62px 20px 0;
		    line-height: 2px;
		    padding: 8px;
		}

		/* SM */
		@media screen and (min-width:767px){
			.box-img img {
		    width:125px;
				height: auto;
		}

		}


		/* MD */
		@media screen and (min-width:992px)
		{
			.box-img img {
				width:136px;
				height: auto;
			}

		}


	/* LG */
	@media screen and (min-width:1200px){
		.box-img img {
			width:155px;
			height: auto;
		}
	}
