.wrapper{
	display: flex;
	height: 100vh;
	width: 100vw;

}

/* navigation bar left */

.nav-left{
	display: flex;
	float: left;
	flex-direction: column;
	background:#000;
	flex-basis: 25%;
	justify-content: space-between;
	color:#fff;
	overflow: scroll;
}

.img-spoty{
	width: 120px;
	height: auto;
margin: 15px 15px 25 12;}

.nav-top ul {
	list-style: none;
	padding-left:18px;
}
.nav-top ul li{
	padding-bottom: 15px;
}

.nav-top ul li a{
	text-decoration: none;
	color:#8c8c8c;
	font-size: 14px;

}

.nav-top ul li img{
	width: 23px;
	height: 23px;
	vertical-align: middle;
	padding-right: 5px;
}

ul li .fa{
	font-size: 30px;
}
/* MAIN CONTENT */

.main-content{
	display: flex;
	overflow-y: auto;
	height: 100%;
	justify-content: space-between;
	float: left;
	flex-basis:100%;
	background-color:#141f1f;

}

/* TOP NAV-BAR FIXED */

.navbar-fix{
	position:fixed;
	height: 70px;
	width:100%;
	background-color:#0a0f0f;
}



/* FOOTER */
.footer{
	height: 70px;
	width: 100vw;
	background-color:#262626;
}
